.chat-main
  .main-header
    .main-header__left
      .main-header__left__title
        test
      %ul.main-header___left__members
        Member :
        %li.main-header___left__member
          メンバー名
    = link_to "#", class:"main-header__right" do
      Edit
  .message-list
    .message-top
      .message
        .message__username
          saya
        .message__data
          2020/04/20
      .message-new
        おはよう
    .message-top
      .message
        .message__username
          saya
        .message__data
          2020/04/20
      .message-new
        おはよう     
    .message-top
      .message
        .message__username
          saya
        .message__data
          2020/04/20
      .message-new
        おはよう
  .form
    %form.new_message
      .input-box
        %input{type: "text", class: "input-box__text", placeholder: "type a message"}
        %label{class: "input-box__image"}
          = icon('fas', 'image')
          %input{type: 'file', class: "input-box__image__file"}
      %input{type: "submit", class: "submit-btn"}
    